<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        {% with messages =get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    {{ message  }}
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <h1>Upload File</h1>
    <form method="POST" action="" enctype="multipart/form-data">        
        <label for="file">Select a file:</label>
        <input type="file" id="file" name="file"><br><br>
        <input type="submit" value="Submit">

        <!-- {{ form.file.label }}
        {% if form.file.errors %}
            {% for error in form.file.errors %}
                {{ error }}
            {% endfor %}
        {% else %}
            {{ form.file }}
        {% endif %}
        
        {{ form.submit }} -->
    </form>
</body>
</html>